.new {
  margin-top: 5rem;
  padding: 1.5rem;
}
.new h1 {
  margin-left: 3.1rem;
  color: #162044;
  font-weight: 550;
}
.newCard {
  display: flex;
 

  justify-content: space-between;
  padding: 4rem;
  border-radius: 2rem;
}
.newCardMedia {
  height: 200px;
  border-radius: 2rem;
  
}

.app button:hover:enabled {
  color: #fff;
  background-color: #A18A65;
  box-shadow: 0 0 2px 0 #333;
}
/* button:not(:disabled) {
  color: #fff;
  background-color: #A18A65;
  cursor: pointer;
}

.jRFJkP:hover:enabled {
  color: #fff;
  background: #A18A65;
  box-shadow: 0 0 2px 0 #333;
} */