.room {
  margin-top: 3.5rem;
  padding: 2rem;
}
.room h1 {
  color: #162044;
  margin-bottom: 3rem;
}
.cardRoom {
  display: flex;
  justify-content: space-between;
}
.roomCardMedia {
  height: 13.125rem;
}
.roomService {
  display: flex;
}
.roomService h6 {
  padding: 5px;
  color: #a18a65;
}
.roomService2 {
  display: flex;
  justify-content: space-between;
}
.roomService2 h5 {
  padding: 5px;
  color: #a7a7a7;
}
.roomService2 h2 {
  color: #a18a65;
}
.bookButton {
  margin-left: 3rem;
  width: 150px;
  height: 50px;
  font-size: 1.2rem;
  border-radius: 1.5rem;
  border: none;
  background: #a18a65;
  color: #fff;

  /* padding: 0.5rem; */
}
