.customer {
  display: flex;

  padding: 4rem;
}

.reviewCard {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.review h1 {
  text-align: center;
  font-weight: 550;
}
.star {
  color: #ffce31;
}
.reviewCard:hover {
  background: #a18a65;
}
.reviewCard:hover .text {
  color: #ffffff;
}


/* Desktop {min-width:1400px */

  @media only screen and (min-width: 1400px) {
    .reviewCard{
      margin-left:3rem;
      padding:2rem;
    }
  }
  /* Desktop {min-width:1600px */

    @media only screen and (min-width: 1600px) {
      .reviewCard{
        margin-left:6rem;
        padding:3rem;
      }
    }

    /* Desktop {min-width:1900px */

      @media only screen and (min-width: 1900px) {
        .reviewCard{
          margin-left:11rem;
          padding:3rem;
        }
      }