.agency {
  display: flex;
  margin-top: 100px;
  text-align: left;
  padding: 4.5rem;
  margin-left: 0.1rem;
}
.agency p {
  margin-top: 50px;
  color: gray;
}
.agency h1 {
  font-size: 48px;
  line-height: 129.4%;

  font-style: normal;
  color: #162044;
}
.mosco img {
  width: 25rem;
  height: 25rem;
  margin-left: 6.25rem;
}
.agency button {
  margin-top: 2rem;
  width: 180px;
  padding: 18px 0;
  font-size: 24px;
  line-height: 129.4%;
  background: #162044;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Desktop  min-width: 1200px*/

@media only screen and (min-width: 1200px) {
  .agency {
    display: flex;
    margin-top: 100px;
    text-align: left;
    padding: 4.5rem;
    margin-left: 2.5rem;
  }
  .agency p {
    margin-top: 50px;
    color: gray;
  }
  .agency h1 {
    font-size: 48px;
    line-height: 129.4%;

    font-style: normal;
    color: #162044;
  }
  .mosco img {
    width: 25rem;
    height: 25rem;
    margin-left: 8.25rem;
  }
  .agency button {
    margin-top: 2rem;
    width: 180px;
    padding: 18px 0;
    font-size: 24px;
    line-height: 129.4%;
    background: #162044;
    border: none;
    color: #fff;
    cursor: pointer;
  }
}


/* Desktop  min-width: 1400px*/

@media only screen and (min-width: 1400px) {
  .agency {
    display: flex;
    margin-top: 100px;
    text-align: left;
    padding: 4.5rem;
    margin-left: 4rem;
  }
  .agency p {
    margin-top: 50px;
    color: gray;
  }
  .agency h1 {
    font-size: 48px;
    line-height: 129.4%;

    font-style: normal;
    color: #162044;
  }
  .mosco img {
    width: 25rem;
    height: 25rem;
    margin-left: 6.25rem;
  }
  .agency button {
    margin-top: 2rem;
    width: 180px;
    padding: 18px 0;
    font-size: 24px;
    line-height: 129.4%;
    background: #162044;
    border: none;
    color: #fff;
    cursor: pointer;
  }
}



/* Desktop  min-width: 1600px*/

@media only screen and (min-width: 1600px) {
  .agency {
    display: flex;
    margin-top: 100px;
    text-align: left;
    padding: 4.5rem;
    margin-left: 6.25rem;
  }
  .agency p {
    margin-top: 50px;
    color: gray;
  }
  .agency h1 {
    font-size: 48px;
    line-height: 129.4%;

    font-style: normal;
    color: #162044;
  }
  .mosco img {
    width: 25rem;
    height: 25rem;
    margin-left: 12.25rem;
  }
  .agency button {
    margin-top: 2rem;
    width: 180px;
    padding: 18px 0;
    font-size: 24px;
    line-height: 129.4%;
    background: #162044;
    border: none;
    color: #fff;
    cursor: pointer;
  }
}


/* Desktop  min-width: 1900px*/

@media only screen and (min-width: 1900px) {
  .agency {
    display: flex;
    margin-top: 100px;
    text-align: left;
    padding: 4.5rem;
    margin-left: 17rem;
  }
  .agency p {
    margin-top: 50px;
    color: gray;
  }
  .agency h1 {
    font-size: 48px;
    line-height: 129.4%;

    font-style: normal;
    color: #162044;
  }
  .mosco img {
    width: 25rem;
    height: 25rem;
    margin-left: 15.25rem;
  }
  .agency button {
    margin-top: 2rem;
    width: 180px;
    padding: 18px 0;
    font-size: 24px;
    line-height: 129.4%;
    background: #162044;
    border: none;
    color: #fff;
    cursor: pointer;
  }
}
