.tour {
  margin-top: 3rem;
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../../../images/Tour.jpg);
  background-size: cover;
  background-position: center;
}

.container{
  padding:20px
}

.container .media{
  margin-left:32rem;
}

/* Desktop {min-width:1200px} */

@media only screen and (min-width: 1400px) {

  .tour .media{
   margin-left: 38rem;
  }
}